*.iml
.gradle
/local.properties
/.idea
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/.idea/

mobile/\.idea/caches/

mobile/\.idea/libraries/

mobile/\.idea/
